/**
 * OnMyWay Styles
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #4598d8; }

#home #big-logo {
  padding: 10px; }
  #home #big-logo img {
    max-width: 100%; }
#home #intro {
  padding: 10px; }
#home #omw-form {
  padding: 10px; }
#home .input-wrap {
  margin-bottom: 10px; }
#home .input-sub, #home input[type="text"] {
  font-size: 24px;
  line-height: 28px; }
#home input[type="text"] {
  width: 98%; }
#home #cur-loc {
  display: none; }

#results #sm-logo {
  display: inline-block;
  text-align: center; }
  #results #sm-logo img {
    height: 60px; }

#loading {
  display: none;
  /* Only show with JS */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8); }
