/**
 * OnMyWay Styles
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@import url(http://fonts.googleapis.com/css?family=Boogaloo);
.yellow-box, #home #cur-loc, #home .input-wrap.submit a {
  background-color: #f0e99c;
  background-image: -webkit-linear-gradient(top, #f0e99c, #f8e93b);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #f0e99c, #f8e93b);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, #f0e99c, #f8e93b);
  /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, #f0e99c, #f8e93b);
  /* Firefox 16+ */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.yellow-box:hover, #home #cur-loc:hover, #home .input-wrap.submit a:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

.yellow-box:active, #home #cur-loc:active, #home .input-wrap.submit a:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) inset; }

body {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #4598d8; }

#home #big-logo {
  padding: 10px; }
  #home #big-logo img {
    max-width: 100%; }
#home #intro {
  padding: 10px; }
#home #omw-form {
  padding: 10px; }
#home .input-wrap {
  margin-bottom: 10px; }
#home .input-sub, #home input[type="text"] {
  font-size: 24px;
  line-height: 28px; }
#home input[type="text"] {
  width: 98%;
  border-radius: 5px; }
#home #cur-loc {
  display: none;
  padding: 3px;
  position: relative; }
  #home #cur-loc a {
    position: absolute;
    right: 7px;
    top: 4px;
    display: block;
    width: 26px;
    height: 26px;
    background: transparent url("https://github.com/kylehardgrave/ohq/raw/master/static/img/remove.png") no-repeat top left;
    text-indent: -99999px; }
#home .input-wrap.submit {
  background: transparent url("/static/img/road.png") repeat-x center left;
  height: 100px;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px; }
  #home .input-wrap.submit > div {
    display: inline-block;
    background: transparent url("/static/img/car.png") center top no-repeat;
    background-size: 175px;
    width: 175px;
    height: 100px;
    position: relative; }
  #home .input-wrap.submit a {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 87px;
    margin-left: -25px;
    width: 50px;
    height: 30px;
    color: black;
    text-decoration: none;
    font: bold 18px Boogaloo, "Comic Sans MS", cursive; }

#results #header {
  position: relative;
  height: 60px;
  background-color: #9ecde9;
  text-align: center; }
  #results #header #sm-logo {
    display: inline-block; }
    #results #header #sm-logo img {
      height: 88px;
      position: relative;
      z-index: 10000000000; }
  #results #header #back-btn {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 65px; }
    #results #header #back-btn img {
      max-width: 100%; }
  #results #header #switch-mode {
    display: none; }
#results #map-view {
  padding: 10px; }
#results #map-canvas {
  min-height: 400px; }

#loading {
  display: none;
  /* Only show with JS */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8); }
